h1{
  text-align: center;

  font-size: 60px ;
}

.buthr{
  border-style: solid;
  border-width: thin;
}


#nam{
  font-family: monospace;
  color: black ;
}

#intro{
  text-align: center;
  font-family: "Indie Flower" , cursive;
  text-shadow: 4px 4px 40px #808080 ;
  color: black ;
}
#dis{
text-align: center;
/*text-shadow: 2px 2px 2px #808080*/
}

#sum1{
  border-style: solid;
  border-width: thin;
  border-color: black;
  background-color: yellow ;
  font-family: "roboto" , monospace;
  text-rendering: optimizeLegibility;
  text-indent: 5px;
  border-radius: 8px;
  font-size: 15px;
}

#sum2{
  border-style: solid;
  border-width: thin;
  border-color: black;
  background-color: yellow ;
  font-family: "Roboto" , monospace; ;
  text-rendering: optimizeLegibility;
  text-indent: 5px;
  border-radius: 8px;
  font-size: 15px;
}

#ppt{
  text-align: center;
  font-family: "rock salt" , monospace;
}

#ans{
  text-align: center;
  font-size: 72px ;
  font-family: "Roboto" , monospace;
}

hr{
  border-style: solid;
  border-width: medium;
  border-color: black ;
  border-radius: 50px;
}

#thin{
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 50px;
}

#th{
  border-style: dotted;
  border-width: thin;
  border-color: black;
}

#int{
  border-style: solid;
  border-width: medium;
  border-color: red;
  border-radius: 50px;
}

a:hover{
  font-family: cursive;
  font-size: 20px;

}

#love{
  background-color: white;
  text-align: center;
  color: black;
  font-size: 20px ;
  font-family: "Indie Flower" , monospace;
}

#lov{
  border-style: dashed;
  border-width: medium;
  border-color: #ff311c;
  border-radius: 50px;
  }

button{
  font-family: quicksand , sans-serif;
  font-size: 13px ;
}

/*tooltips*/

span{
  display: none;
}

button.add:hover .tooladd{
  display: block;
}

button.sub:hover .toolsub{
  display: block;
}

button.pro:hover .toolpro{
  display: block;
}

button.quo:hover .toolquo{
  display: block;
}

button.mod:hover .toolmod{
  display: block;
}

button.exp:hover .toolexp{
  display: block;
}

button.conc:hover .toolconc{
  display: block;
}

button.root:hover .toolroot{
  display: block;
}

button.spec:hover .toolrooth{
  display: block;
}

button.rnd:hover .toolrnd{
  display: block;
}

button.in:hover .toolin{
  display: block;
}

button.table:hover .tooltab{
  display: block;
}

button.ans:hover .toolans{
  display: block;
}

button.sumans:hover .tooltonum{
  display: block;
}

#button{
  margin: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
